h1 {
  line-height: 50px;
  border-bottom: 5px solid navy;
}
body {
  background-image: url("../Images/Psychic2.jpg");
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  height: 80vh;
}
